//=================    popup =========================
.popupDelete{
  background-color: #504699;
  align-items: center;
  width: 130px;
  height: 46px;
}

.btnXacNhanXoa {
	background: #fff;
  margin-top: 5%;
  margin-left: 17%;
	border-radius: 10%;
	text-transform: uppercase;
  font-size: 13px;
  padding: 5px;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.btnXacNhanXoa:hover {
	border-color: #1d1650;
	outline: none;
}
//=============== button Them =====================
.btnThem{
  position: absolute;
  left: 10%;
  top:15% 
}
.btnThem:hover,
.btnThem:focus {
  filter: saturate(0);
}
.btnXoa{
  align-items: center;
}
.btnXoa:hover,
.btnXoa:focus {
  fill: red;
}
.table-Icon{
  width: 50px;
}
//=============== Table ======================
#customers {
    position: absolute;
    border-collapse: collapse;
    width: 80%;
    left: 10%;
    top: 20%;    
  }
  
  #customers td, #customers th {
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6a64f1;
    color: white;
  }

