body{
    margin: 0;
    overflow-y: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  a {
    float: left;
  }
  
  a {
    font-family: "Raleway", sans-serif;
    color: #080808;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: 1000;
  }
  .btnOut {
    position:  relative;
    left: 60%;
  }
  .menu{
    width: 70px;
    height: 700px;
  }
  #mySidebar {
    background-color: #504699;
    color: white;
    width: 180px;
  }
  #closeMenu{
    width: 110px;
    height: 110px;
  }
  .TopNav{
    position: absolute;
    width: 100%;
    height: 8%;
    background-color: #504699;
  }
  .info{
    position: absolute;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 1000;
    top: 27%;
    left: 32%;
  }
  .btnOut{
    position: absolute;
    width: 90px;
    left: 95%;
    top: -6%;
  }

  // ================ W3SCHOOLS =================== //
  